In [2]:
import pandas as pd
from statsmodels.stats import weightstats as stests

In [3]:
df=pd.read_csv("/content/adani1.csv")

In [4]:
df.head()

,timestamp,symbol,company,open,high,low,close,volume,dividends,stock_splits
0,1.025460e+18,ACC,ACC Limited,107.789,109.810,107.115,108.968,659631,0.0,0
1,1.025460e+18,AMBUJACEM,Ambuja Cements Limited,17.278,17.660,17.202,17.573,630442,0.0,0
2,1.025460e+18,ADANIENT,Adani Enterprises Limited,-0.010,-0.011,-0.010,-0.010,1080397,0.0,0
3,1.025550e+18,ACC,ACC Limited,108.496,110.046,107.789,108.059,282660,0.0,0
4,1.025550e+18,AMBUJACEM,Ambuja Cements Limited,17.573,17.748,17.409,17.560,1007265,0.0,0

In [5]:
df[['open','high']].describe()

               open          high
count  31497.000000  31497.000000
mean     404.542261    411.745505
std      623.108375    633.783423
min       -0.011000     -0.011000
25%       59.423000     60.773000
50%      140.100000    143.201000
75%      384.277000    392.376000
max     4175.000000   4236.750000

In [6]:
#value=146 refers to the null hypothesis value for the variable
ztest ,pvalue = stests.ztest(df['open'], x2=None, value=146)
print(float(pvalue))
print(ztest)

0.0
73.63809553974379

In [7]:
if pvalue<0.05:
    print("Null hypothesis rejected , Alternative hypothesis accepted")
else:
    print("Null hypothesis accepted , Alternative hypothesis rejected")

Null hypothesis rejected , Alternative hypothesis accepted

In [8]:
ztest,pval1=stests.ztest(df['open'],df['high'],value=100)
print(float(pval1))

1.1642907268607735e-101

In [9]:
if pval1>0.05:
    print("Null hypothesis rejected , Alternative hypothesis accepted")
else:
    print("Null hypothesis accepted , Alternative hypothesis rejected")

Null hypothesis accepted , Alternative hypothesis rejected